body {
  background-color: #d0f0c0; /* cucumber light green */
  color: #006400; /* shabby-cucumber green */
  font-family: Arial, sans-serif; /* frankly serif-like */
  margin: 0;
  padding-top: 60px; /* Height of the top bar */
  padding-bottom: 40px; /* Height of the bottom bar */
}
.topbar, .bottombar {
  position: fixed;
  width: 100%;
  background-color: #006400;
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 1000;
}
.topbar {
  top: 0;
}
.bottombar {
  bottom: 0;
}
.topbar a, .bottombar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}
.album {
  position: relative;
  display: inline-block;
  margin: 20px;
}
.album img {
  width: 250px;
  height: 250px;
  border: 2px solid black;
}
.album-title {
  position: absolute;
  top: 10px;
  justify-content: center;
  color: rgb(7, 34, 18);
  padding: 5px;
  font-size: 24px; /* Adjust the size as needed */
  text-align: center;
}
.album-list {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.album-list ul {
  margin-left: 20px;
}
.symbol-image {
  width: 50%; /* Resize to half of its current size */
  border: 2px solid black; /* Add a border to frame the image */
  padding: 10px; /* Add padding inside the border */
  display: block;
  margin: 0 auto; /* Center the image */
}
.main {
  padding-left: 5px;
}